/venv
/id_rsa
/**/.env
/src/build
/src/dist
/**/*.egg-info
/.idea
/data/**/
/test
/output
/.Rhistory
/.RDataFiles/
/archive

/log
/regsci_db/data/authorisation_decisions/
/regsci_db/data/epars/
/regsci_db/data/smpcs/
/**/__pycache__
