/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */
.med-main-header {
  height: 75px;
  position: fixed;

  /* Makes sure the page is centered and doesn't become too wide or too narrow */
  width: 100%;
  max-width: 1400px;
  min-width: 950px;

  /*box-shadow: 3px 2px 8px blue;*/
  box-shadow: 3px 2px 8px var(--med-shadow);
  background-color: var(--med-header-background);
  color: var(--med-header-text);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  z-index: 1000;
}

/* Makes sure the logo in the header is the right size and */
.med-main-header img {
  margin-right: 30px;
  margin-top: 5px;
  height: 65px;
  float: right;
}

/* Keeps the text in the header on the left side, ensuring that the logo can be next to it */
.med-main-header h1 {
  float: left;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

/* Media query: makes sure that when the screen width drops below 1400px (the size where the page content
  fits the entire webbrowser page) the rounded borders on the outside disappear. */
@media only screen and (max-width: 1400px) {
  .med-main-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
