/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

.med-page-wrapper {
  max-width: 1400px;
  min-width: 950px;
}

.med-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-left: 78px;
  padding-top: 75px;
  z-index: 50;
}

.med-content-wrapper {
  background-color: inherit;
}
