.med_content {
  padding-left: 78px;
  padding-top: 75px;
  z-index:50;
}

.med_page__wrapper {
  max-width: 1400px;
  min-width: 950px;
}

.med_content__wrapper {
  min-height: calc(100vh - 75px - 170px);
}

.med_main_layout {
  z-index: 1000;
}
