/* Page elements */
.visual-container {
  margin: 2%;
  width: 97%;
  padding: 0 12px;
  font-size: 16px;
}

/* Panel elements */
.visualization-panel {
  background-color: inherit;
  margin: 1% 0% 1% 0%;
  border-right: 1px solid var(--med-visualization-vertical-border);
}

.visualization-panel select {
  width: 100%;
}

.visualization-panel-label {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
  user-select: none;
}

.country-options label {
  width: 95%;
  margin: 0px 0px 5px 5px;
  font-weight: normal;
}

.country-options {
  background-color: var(--med-visualization-cagetory-menu-background);
  height: 230px;
  margin-top: 3%;
  margin-left: 1%;
  overflow-y: scroll;
}

.med_visualization_form {
  display: flex;
  flex-direction: column;
}

/* Buttons */
.button-update {
  width: 100%;
  margin-top: 3.6%;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--med-positive-button-background);
}

.button-remove {
  width: 14%;
  font-size: 20px;
  background: var(--med-negative-button-background);
  margin: 1.8% 0% 2% 2%;
}

.button-export {
  width: 40%;
  margin: 1.8% 0% 2% 2%;
}

.button-add {
  margin: 0% 2% 7.5% 2%;
  width: 98%;
  height: 50px;
}

.button-update:hover {
  background-color: var(--med-positive-button-hover);
}

.button-remove:hover {
  background-color: var(--med-negative-button-hover);
}

/* Title */
.graph-name {
  margin: 2% 5% 2% 5%;
  height: 40px;
  width: 93%;
  font-size: 30px;
}

.graph-name:not(:placeholder-shown) {
  border: none;
}

.visualization-no-data {
  padding-top: 30vh;
  text-align: center;
}

/* Modal */

.visualize-modal {
  position: relative;
  margin: 8% 15% 10% 15%;
  border-radius: 10px;
  outline: none;
}

.close-icon {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 20px;
}
