/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

/* The main visualization content container */

.med-vis-content-container {
  margin: 2%;
  width: 97%;
  padding: 0 12px;
  font-size: 16px;
}

/* Elements that make up the settings panel on the left of each visualization */

.med-vis-settings-panel {
  background-color: inherit;
  margin: 1% 0% 1% 0%;
  border-right: 1px solid var(--med-visualization-vertical-border);
}

.med-vis-settings-form {
  display: flex;
  flex-direction: column;
}

.med-vis-settings-panel select {
  width: 100%;
}

.med-vis-settings-panel-label {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
  user-select: none;
}

.med-vis-category-options {
  background-color: var(--med-visualization-cagetory-menu-background);
  height: 230px;
  margin-top: 3%;
  margin-left: 1%;
  overflow-y: scroll;
}

.med-vis-category-options label {
  width: 95%;
  margin: 0px 0px 5px 5px;
  font-weight: normal;
}

/* Buttons for visualization addition, removal and export */

.med-button-remove-vis {
  width: 14%;
  font-size: 20px;
  background: var(--med-negative-button-background);
  margin: 1.8% 0% 2% 2%;
}

.med-button-remove-vis:hover {
  background-color: var(--med-negative-button-hover);
}

.med-button-export-vis {
  width: 40%;
  margin: 1.8% 0% 2% 2%;
}

.med-button-add-vis {
  margin: 0% 2% 7.5% 2%;
  width: 97%;
  height: 50px;
}

.med-button-remove-vis:hover {
  background-color: var(--med-negative-button-hover);
}

/* The title of each visualization */

.med-vis-graph-title {
  margin: 2% 5% 2% 5%;
  height: 40px;
  width: 93%;
  font-size: 30px;
}

.med-vis-graph-title:not(:placeholder-shown) {
  border: none;
}

/* No data to use for visualization message */

.med-vis-no-data {
  padding-top: 30vh;
  text-align: center;
}

/* Bar chart, part of the example code for adding scroll bars to an axis */

.med-vis-chart {
  overflow: auto;
}

/* The interactive popup which shows the datapoints in the clicked chart element */

.med-vis-interactive-data-modal {
  position: relative;
  margin: 8% 17% 10% 17%;
  border-radius: 10px;
  outline: none;
  min-width: 875px;
}

.med-vis-interactive-data-modal .med-data-button {
  position: relative;
  right: 70px;
}

.med-close-modal-icon {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 20px;
}

/* Make sure that the tooltip text is always readable */

.apexcharts-tooltip {
  color: #000000;
}
