/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

.med-info-container h1 {
  display: inline-block;
}

/*  general css for laying out the childern in a layout, consisting of
    two columns, which are filled column first. when the window becomes
    wide enough, three columns instead of two columns are used */

.med-flex-columns {
  column-count: 2;
  column-fill: balance;
}

@media screen and (min-width: 1200px) {
  .med-flex-columns {
    column-count: 3;
    column-fill: balance;
  }
}

/* for the detail groups */

.med-info-detail-group {
  display: inline-block;
  background-color: var(--med-info-collection-background);
  border-radius: 5px;
  margin: 3px;
  width: calc(100% - 12px);
  overflow-wrap: break-word;
  padding: 3px;
}

.med-info-detail-group-title {
  font-size: 17px;
  text-align: center;
}

/* for the individual details inside */

.med-info-detail {
  background-color: var(--med-info-detail-background);
  margin: 4px;
  border-radius: 3px;
  padding-left: 12px;
}

.med-info-detail-name {
  font-weight: bold;
  display: inline-block;
  width: 44%;
  vertical-align: middle;
}

.med-info-detail-value {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 15px;
}

/* for the procedures */

.med-info-procedure {
  background-color: var(--med-info-collection-background);
  border-radius: 4px;
  margin: 3px;
  padding: 3px;
}

.med-info-no-proc-message {
  text-align: center;
  margin: 15px 15%;
  font-weight: 200;
  color: var(--med-additional-text);
}

/* for procedure content */

.med-info-procedure-content {
  display: inline-block;
  width: 82.5%;
  height: calc(100% - 6px);
}

.med-info-procedure-detail {
  display: inline-block;
  background-color: var(--med-info-detail-background);
  border-radius: 4px;
  margin: 3px;
  padding-left: 5px;
}

.med-info-procedure-detail.small-width {
  width: calc(25% - 6px);
}

.med-info-procedure-detail.large-width {
  width: calc(50% - 6px);
}

.med-info-procedure-detail-label {
  font-weight: bold;
}

.med-info-procedure-detail-value {
  display: inline-block;
  max-width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* for procedure file links */

.med-info-procedure-file-link-container {
  display: inline-block;
  width: 17.5%;
  height: calc(100% - 6px);
}

.med-info-procedure-file-link {
  display: inline-block;
  background-color: var(--med-info-detail-background);
  border-radius: 4px;
  margin: 3px;
  width: calc(100% - 6px);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: var(--med-textlink-text);
}

.med-info-procedure-file-link:hover {
  color: var(--med-textlink-text-hover);
}

.med-info-procedure-file-link.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--med-additional-text);
}

.med-info-procedure-file-link span {
  display: inline-block;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

/* for the links to external sources */

.med-info-external-link {
  display: inline-block;
  background-color: var(--med-info-collection-background);
  margin: 4px;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: var(--med-info-link-color);
  width: calc(50% - 8px);
}

.med-info-external-link:hover {
  color: var(--med-info-link-color-hover);
}

.med-info-external-link.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--med-additional-text);
}

/* for when there is a invalid medicine id in the url */

.med-info-unknown-medID {
  padding-top: 30vh;
  text-align: center;
}

/* for the time line component */

.med-info-timeline {
  padding: 10px 25px;
  margin: auto;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

/* for each time line element */

.med-info-timeline-element {
  width: 195px;
  height: 144px;
}

/* for the date and event associated with a timeline element */

.med-info-timeline-element-timestamp {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 200;
  text-align: center;
}

.med-info-timeline-element-event {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 5px;
  text-align: center;
}

/* for the decorative line */

.med-info-timeline-element-decoration {
  width: 100%;
  height: 2px;
  background-color: var(--med-timeline-line);
  position: relative;
}

.med-info-timeline-element:first-child .med-info-timeline-element-decoration {
  float: right;
  width: 50%;
}

.med-info-timeline-element:last-child .med-info-timeline-element-decoration {
  float: left;
  width: 50%;
}

.med-info-timeline-element:only-child .med-info-timeline-element-decoration {
  width: 50%;
  height: 0;
}

/* for the decorative circle */

.med-info-timeline-element-decoration:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: var(--med-timeline-circle);
  border-radius: 25px;
  border: 2px solid var(--med-timeline-line);
  position: absolute;
  top: -12px;
  left: calc(50% - 12.5px);
}

.med-info-timeline-element:first-child
  .med-info-timeline-element-decoration:before {
  left: -12.5px;
}

.med-info-timeline-element:last-child
  .med-info-timeline-element-decoration:before {
  left: calc(100% - 12.5px);
}

/* for special (i.e. highlighted) timeline elements */

.med-info-special .med-info-timeline-element-decoration:before {
  background-color: var(--med-timeline-line);
}

/* for the elements used to select different procedure types */

.med-proc-select-button {
  border: none;
  float: right;
  height: 36px;
  margin: 10px;
  font-size: 18px;
}

.med-proc-select-button i {
  font-size: 30px;
  vertical-align: middle;
}

/* for the list of procedure type options */

.med-proc-option-list {
  margin-top: 12px;
  margin-bottom: 12px;
}

.med-proc-option {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.med-proc-option-name {
  margin-left: 5px;
}
