/* all the colors that are used, expressed as variables*/

:root {
  --info-collection-background: var(--grey-text);
  --info-item-background: var(--white-info-background);
  --info-link-color: var(--black-text);
}

/* custom settings for content wrapper */

.content-container {
  padding: 10px;
  font-size: 15px;
}

.content-container .title {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.content-container .separator {
  margin: 5px 0;
}

/*  general css for laying out the childern in a layout, consisting of
    two columns, which are filled column first. when the window becomes
    wide enough, three columns instead of two columns are used */

.flex-columns {
  column-count: 2;
  column-fill: balance;
}

@media screen and (min-width: 1200px) {
  .flex-columns {
    column-count: 3;
    column-fill: balance;
  }
}

/* for the detail groups */

.detail-group {
  display: inline-block;
  background-color: var(--info-collection-background);
  border-radius: 5px;
  margin: 3px;
  width: calc(100% - 12px);
  overflow-wrap: break-word;
  padding: 3px;
}

.detail-group-title {
  font-size: 17px;
  text-align: center;
}

/* for the individual details inside */

.detail {
  background-color: var(--info-item-background);
  margin: 4px;
  border-radius: 3px;
  padding-left: 12px;
}

.detail-name {
  font-weight: bold;
  display: inline-block;
  width: 44%;
  vertical-align: middle;
}

.detail-value {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 15px;
}

/* for the procedures */

.procedure {
  background-color: var(--info-collection-background);
  border-radius: 4px;
  margin: 3px;
  padding: 3px;
}

/* for procedure content */

.procedure-content {
  display: inline-block;
  width: 82.5%;
  height: calc(100% - 6px);
}

.procedure-detail {
  display: inline-block;
  background-color: var(--info-item-background);
  border-radius: 4px;
  margin: 3px;
  padding-left: 5px;
}

.procedure-detail.small-width {
  width: calc(25% - 6px);
}

.procedure-detail.large-width {
  width: calc(50% - 6px);
}

/*for procedure file links */

.procedure-files {
  display: inline-block;
  width: 17.5%;
}

.procedure-file-link {
  display: inline-block;
  background-color: var(--info-item-background);
  border-radius: 4px;
  margin: 3px;
  width: calc(100% - 6px);
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
}

/* for procedure labels */

.procedure-label {
  font-weight: bold;
}

/* for the links to external sources */

.external-link {
  display: inline-block;
  background-color: var(--info-collection-background);
  margin: 4px;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  width: calc(25% - 8px);
}

.detailedinfopage-unknown-medID {
  padding-top: 30vh;
  text-align: center;
}
