django>=4.0,<4.1
djangorestframework==3.13.1
django-cors-headers
coverage
mysqlclient
black
pylint
uvicorn
gunicorn
django-rest-knox
djangorestframework-guardian
django-import-export
docutils
requests