/* Content__container rulesets and h1, h2 and p rulesets are for styling the containers placed inside the main page */

.med_content__container {
  margin: 20px;
}

.med_home_content h1 {
  margin: 10px;
  font-size: 25px;
}
.med_home_content h2 {
  margin: 10px;
  font-size: 20px;
}
.med_home_content p {
  margin: 10px;
}

.institution-logo {
  width: 400px;
  float: right;
}

.institution-info {
  width: calc(100% - 450px);
}

.example-visualization {
  width: 500px;
  float: right;
  margin: 100px 125px 0px 0px;
}

.example-visualization-panel {
  margin: 50px 0px 50px 100px;
}

.visualization-description {
  width: calc(100% - 600px);
  margin: 100px 50px 0px 0px !important;
  float: right;
}

.institution-link {
  color: var(--med-textlink-text);
  text-decoration: none;
}

.institution-link:hover {
  color: var(--med-textlink-text-hover);
}
