/* Content__container rulesets and h1, h2 and p rulesets are for styling the containers placed inside the main page */
.med_home_content {
  margin-top: 40px;
}

.med_content__container {
  margin: 20px;

  background-color: white;
  border: 1px solid grey;

  border-radius: 5px;
}

.med_home_content h1,
.med_home_content h2 {
  margin: 10px;
  
}
.med_home_content p {
  margin: 10px;
}
