/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

/*  Content__container rulesets and h1, h2 and p rulesets are for styling the 
    containers placed inside the main page */

.med-home-content h1 {
  margin: 10px;
  font-size: 25px;
}
.med-home-content h2 {
  margin: 10px;
  font-size: 20px;
}
.med-home-content p {
  margin: 10px;
}

.med-tour-button {
  float: right;
}

.med-tour-paragraph {
  width: calc(100% - 180px);
}
