/* Main ruleset for the footer, gives its size and general styling */
.med-footer {
  padding: 10px;
  padding-bottom: 30px;
  height: 130px;
  font-size: 14px;

  background-color: var(--med-footer-background);
  box-shadow: 3px 2px 8px var(--med-shadow);
  color: var(--med-footer-text);

  border-top-right-radius: 10px;
}

/* These two rulesets are for the 2 rows of content in the footer, it makes 
  sure that they stay next to each other instead of on top. */
#med-footer-information {
  width: 55%;
  text-align: center;
}

#med-footer-organizations {
  width: 45%;
  text-align: center;
  float: right;
}

.med-footer-text {
  margin-top: 2.5%;
}

/* For the list of relevant organizations, keeps the list positioned correctly */
.med-footer-organization-list {
  display: inline-block;
  text-align: left;
}

/* Media query: makes sure that when the screen width drops below 1400px 
  (the size where the page content fits the entire webbrowser page) the 
  rounded borders on the outside disappear. */
@media only screen and (max-width: 1400px) {
  .med-footer {
    border-top-right-radius: 0px;
  }
}
