.modal {
  position: absolute;
  top: 19%;
  bottom: 19%;
  left: 15%;
  right: 15%;
  overflow: hidden;
  outline: none;
}

.filter {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 80%;
  background-color: rgb(17, 75, 95);
}

.sort {
  position: absolute;
  float: right;
  border-radius: 10px;
  width: 19.5%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(17, 75, 95);
}

.open-menu {
  background-color: rgb(154, 113, 151);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.menu-button {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.cl {
  background-color: white;
}

.apply {
  background-color: rgb(154, 113, 151);
  color: white;
}

.add {
  color: rgb(154, 113, 151);
  font-weight: bold;
  font-size: 20px;
  padding-right: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.add:hover {
  filter: brightness(150%);
}

.add-icon {
  font-size: 30px;
  position: absolute;
  padding-left: 10px;
}

.filter-header {
  color: rgb(214, 203, 180);
  text-align: center;
}

.filters {
  overflow-y: auto;
  height: calc(100% - 160px);
}

.add-sort {
  display: inline-block;
  color: rgb(212, 213, 214);
  font-size: 15px;
  padding-left: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.add-sort:hover {
  filter: brightness(150%);
}
