.filter-item {
  background-color: rgb(215, 215, 214);
  padding: 10px;
  width: 19%;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  box-sizing: content-box;
}

.sort-item {
  background-color: rgb(215, 215, 214);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  position: relative;
  vertical-align: top;
  box-sizing: content-box;
}

.select {
  display: inline-block;
  width: 85%;
}

.filter-input {
  display: inline-block;
  width: 85%;
  margin-top: 10px;
}

#add-label {
  font-size: 10px;
  color: blue;
  cursor: pointer;
}

.remove-icon {
  font-size: 75%;
  color: red;
  cursor: pointer;
  padding-left: 5px;
}

.delete {
  position: absolute;
  color: rgb(17, 75, 95);
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  top: 5px;
  right: 5px;
}
