/* for the main dialog & the dialog description */

.med-save-dialog {
  background-color: var(--med-dialog-background);
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  display: block;
}

.med-save-dialog i {
  font-size: 60px;
}

/* for an error message */

.med-save-dialog .med-error-message {
  margin-bottom: 20px;
}

/* for a success message */

.med-save-dialog .med-success-message {
  color: var(--med-positive-message-text);
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  background-color: var(--med-positive-message-background);
  border-radius: 10px;
  padding: 5px;
}

/* for the save selection form */

.med-save-form {
  width: 100%;

  margin: 12px 0;
  border-radius: 10px;
  text-align: left;

  padding: 10px 15px;

  display: flex;
  flex-direction: column;
}

/* for the two dialog buttons */

.med-save-dialog button {
  border: none;
  width: 100%;
  height: 35px;
  margin: 2px 0;
  border-radius: 10px;
}

.med-save-dialog .med-cancel-button {
  background-color: var(--med-dialog-background);
  color: var(--med-text-primary);
}

.med-save-dialog .med-cancel-button:hover {
  background-color: var(--med-dialog-background);
}
