.content__container__textinput {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 180px);
  font-size: 16px;
  background-color: var(--med-text-input-background);
  border: 1px solid var(--med-text-input-border);
  border-radius: 4px;
  padding: 0 7px;
  height: 31px;
}

.search-Icon {
  font-size: 25px;
  margin-left: 10px;
  float: left;
}

.searchDataTable .med_th {
  min-width: 233px;
  max-width: 233px;
}

.searchDataTable .med_td {
  font-size: 13px;
  min-width: 233px;
  max-width: 233px;
}

.searchDataTable .smallColumn {
  min-width: 50px;
  max-width: 50px;
  border-right: 1px solid var(--med-table-border);
}
