.med-login-modal {
  position: absolute;
  top: 19%;
  bottom: 19%;
  left: 15%;
  right: 15%;
  overflow: hidden;
  outline: none;
}

.med-login-dialog {
  background-color: var(--core-dialog);
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  display: block;
}

.med-login-dialog i {
  font-size: 60px;
}

.med-login-dialog .med-error-message {
  margin-top: 20px;
}

/* additional css for the credential input fields */

.med-credential-input {
  width: calc(100% - 10px);
  height: 31px;
  margin-top: 5%;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  padding: 0 7px;
}

/* for the dialog buttons */

.med-login-dialog button {
  border: none;
  width: calc(100% - 10px);
  height: 35px;
  border-radius: 10px;
}

.med-login-dialog .med-button-login {
  margin-top: 5%;
}

.med-login-dialog .med-button-cancel {
  background-color: var(--core-dialog);
  color: var(--med-text-primary);
}
