@import '../../shared/shared.css';

label {
  float: left;
  margin-left: 1%;
  margin-top: 2px;
  font-weight: bold;
}

button:hover {
  background-color: var(--blue-light);
}

hr {
  width: 98%;
  border: 1px solid var(--seperation-line);
  position: sticky;
  margin: 0px auto 10px auto;
}

.filter-Icon,
.bxs-file-export {
  font-size: 25px;
  margin-left: 10px;
  float: left;
}

.addRmCollumn {
  float: right;
  margin: 0px 1% 0px 0px;
}

.bottomOfTableHolder {
  position: sticky;
  top: 100%;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.resultsSelector {
  position: sticky;
  width: 210px;
  height: 30px;
  left: 100%;
}

#topSelector {
  height: 25px;
  margin: 2px 0px 0px 10px;
  border: 1px solid black;
}

.lb-tableholder {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.lb-pageCount {
  float: none;
  font-weight: bold;
  width: 25px;
  text-align: center;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.lb-pageCount:hover {
  background-color: var(--seperation-line);
  border-radius: 2px;
}

.lb-pageCount_selected {
  background-color: var(--blue-light);
  color: white;
  border-radius: 2px;
}

.dv-pageCount {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.li-pageCount {
  font-size: 25px;
}
