.tableButtons {
  width: 150px;
  height: 40px;
  float: right;
  margin: 20px 1% 15px 0px;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--blue-alt);
  border-radius: 5px;
  color: var(--white-text);
  border: none;
}
