/* for the main dialog & the dialog description */

.med-export-modal {
  position: absolute;
  top: 19%;
  bottom: 19%;
  left: 15%;
  right: 15%;
  overflow: hidden;
  outline: none;
}

.med-export-dialog {
  background-color: var(--med-dialog-background);
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  display: block;
}

.med-export-dialog i {
  font-size: 60px;
}

/* for an error message */

.med-export-dialog .med-error-message {
  margin-bottom: 20px;
}

/* for a success message */

.med-export-dialog .med-success-message {
  color: var(--med-positive-message-text);
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  background-color: var(--med-positive-message-background);
  border-radius: 10px;
  padding: 5px;
}

/* for the list with different options */

.med-download-option-list {
  width: 100%;

  margin: 12px 0;
  border-radius: 10px;
  text-align: left;

  padding: 10px 15px;

  display: flex;
  flex-direction: column;
}

/* for the radio buttons */
/*
    the css code for these custom radio buttons was adapted from the
    following source: v=5K7JefKDa4s
*/

.med-export-dialog .med-radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  font-weight: normal;
}

.med-export-dialog .med-radio-input {
  display: none;
}

.med-export-dialog .med-radio-visual {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid var(--med-additional-text);
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

.med-export-dialog .med-radio-visual::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--med-radio-inside);
  border-radius: 50%;
  flex-shrink: 0;

  transform: scale(0);
  transition: all 0.1s;
}

.med-export-dialog .med-radio-input:checked + .med-radio-visual::after {
  transform: scale(1);
}

/* additional css for the text input field */

.med-seperator-input-field {
  width: 75px;
  height: 25px;
  margin-left: 10px;
  padding: 0 7px;
}

/* for the two dialog buttons */

.med-export-dialog button {
  border: none;
  width: 100%;
  height: 35px;
  margin: 2px 0;
  border-radius: 10px;
}