@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '../node_modules/boxicons/css/boxicons.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(
    --blue-grey-background
  ); /* from color scheme but lighter */
  padding-left: calc((100% - 1400px) / 2);
  padding-right: calc((100% - 1400px) / 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: bold;
}

/* variables*/

:root {
  --blue-main: #114b5f;
  --blue-alt: #38576b;
  --blue-light: #607e92;

  --aqua-main: #5f9ea0;
  --aqua-alt: #85bec0;

  --white-tooltip: #fff;
  --white-text: #fff;
  --black-text: #000;

  --grey-text: #d3d3d3;
  --blue-grey-background: #eaf0f8;
  --white-info-background: #fff;

  --BorderClrTableHolder: darkgray;
  --seperation-line: lightgray;
}
