@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '../node_modules/boxicons/css/boxicons.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--med-main-background);
  color: var(--text-primary);
  padding-left: calc((100% - 1400px) / 2);
  padding-right: calc((100% - 1400px) / 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: bold;
}

select,
input[type='checkbox'] {
  cursor: pointer;
}

.med-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.ReactModal__Overlay {
  z-index: 100000;
}

/* Default Color Definitions */

:root {
  --core-body: #eaf0f8;
  --core-header: #ffffff;
  --core-footer: #d7d7d7;
  --core-border: #969696;
  --core-shadow: #969696;
  --core-content: #ffffff;
  --core-dialog: #eaf0f8;

  --text-primary: #212529;
  --text-secondary: #ffffff;
  --text-additional: #8b8b8b;

  --primary-dark: #114b5f;
  --primary-normal: #38576b;
  --primary-light: #607e92;

  --secondary-dark: #d3d3d3;
  --secondary-normal: #dde6f0;
  --secondary-light: #f5f5f5;

  --positive-dark: #028a0f;
  --positive-normal: #3cb042;
  --positive-light: #bfffbf;

  --negative-dark: #ff0000;
  --negative-normal: #ff3d3d;
  --negative-light: #ffbfbf;

  --accent-dark: #9a7197;
  --accent-light: #ac80a0;
}

/* Dark Mode Color Definitions */

@media (prefers-color-scheme: dark) {
  :root {
    --core-body: #020409;
    --core-header: #1c1c1d;
    --core-footer: #0b0d13;
    --core-border: #31363c;
    --core-shadow: #212222;
    --core-content: #212122;
    --core-dialog: #121314;

    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --text-additional: #8b8b8b;

    --primary-dark: #0d3a49;
    --primary-normal: #304a5c;
    --primary-light: #526c7e;

    --secondary-dark: #1b1b1b;
    --secondary-normal: #1f2027;
    --secondary-light: #2c2c2c;

    --positive-dark: #028a0f;
    --positive-normal: #3cb042;
    --positive-light: #1b271b;

    --negative-dark: #ff0000;
    --negative-normal: #ff3d3d;
    --negative-light: #3a0808;

    --accent-dark: #9a7197;
    --accent-light: #ac80a0;
  }
}

/* Core Color Variable Definitions */

:root {
  --med-main-background: var(--core-body);
  --med-shadow: var(--core-shadow);
  --med-content-background: var(--core-content);
  --med-content-border: var(--core-border);
  --med-nav-background: var(--primary-dark);
  --med-dialog-background: var(--core-dialog);

  --med-header-background: var(--core-header);
  --med-header-text: var(--text-primary);

  --med-footer-background: var(--core-footer);
  --med-footer-text: var(--text-primary);

  --med-textlink-text: var(--accent-dark);
  --med-textlink-text-hover: var(--accent-light);
}
