/* for the navigation bar itself */

.med-side-nav {
  position: fixed;
  top: 75px;
  height: calc(100% - 75px);
  background: var(--med-nav-background);
  padding: 6px 14px;
  transition: all 0.3s;
  z-index: 10000;
  min-height: calc(700px - 75px);
}

.med-side-nav.med-open {
  width: 200px;
}

.med-side-nav.med-closed {
  width: 78px;
}

/* for the individual items in the navigation bar */

.med-nav-item {
  position: relative;
  height: 50px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.2s;
}

/* for the content of the individual items in the navigation bar */

.med-nav-item-content {
  display: flex;
  align-items: center;
  transition: all 0.4s;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.med-nav-item-content i {
  min-width: 50px;
  color: var(--med-solid-button-text);
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}

/*  show the names corresponding to the different individual items in 
    the navigation bar only when the navigation bar in expanded
*/

.med-nav-item-name {
  color: var(--med-solid-button-text);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  transition: 0.4s;
}

.med-side-nav.med-closed .med-nav-item-name {
  opacity: 0;
}

.med-side-nav.med-open .med-nav-item-name {
  opacity: 1;
}

/*  show the tooltip boxes corresponding to the different individual items in
    the navigation bar only when the navigation bar in collapsed 
*/

.med-nav-tooltip {
  position: absolute;
  left: calc(100% + 20px);
  top: 7.5px;
  opacity: 0;

  color: var(--med-tooltip-text);
  background-color: var(--med-tooltip-background);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  border-radius: 4px;
  padding: 6px 12px;

  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;

  transition: 0.08s;
  pointer-events: none;
  z-index: 3;
}

.med-side-nav.med-closed .med-nav-item:hover .med-nav-tooltip {
  opacity: 1;
}

/*  position the lowest navigation item at the bottom of the navigation bar */

.med-nav-lowest {
  bottom: 6px;
  position: absolute;
  width: calc(100% - 28px);
}

/* account specific styling */

.med-nav-account {
  bottom: 64px;
  position: absolute;
  width: calc(100% - 28px);
}

.med-side-nav.med-open .med-nav-account {
  height: 75px;
  padding: 12.5px 0px;
}

.med-nav-item-alt-name {
  font-size: 14px;
  color: var(--med-additional-text);
}
