/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

/* for the save selection form */

.med-save-form {
  width: 100%;

  margin: 12px 0;
  border-radius: 10px;
  text-align: left;

  padding: 10px 15px;

  display: flex;
  flex-direction: column;
}
