/* change colors to variables */
.med_table {
  display: block;
  overflow: auto;
  border-spacing: 0;
  width: 98%;
  height: 441px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.tableHeader {
  display: block;
  position: sticky;
  top: 0;
  border: 0px;
  overflow-x: visible;
  color: var(--med-table-header-text);
}

.tableBody {
  display: block;
  overflow: visible;
}

.tableHeader tr {
  background-color: var(--med-table-header-background);
}

.tableBody tr:nth-child(even) {
  background-color: var(--med-table-row-even-background);
}

.tableBody tr:nth-child(odd) {
  background-color: var(--med-table-row-odd-background);
}

.med_th,
.med_td {
  text-align: center;
}

.med_th {
  min-width: 223px;
  max-width: 223px;
}

.med_th_select {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--med-table-header-background);
  color: var(--med-table-header-text);
  min-width: 100%;
  max-width: 100%;
}

.med_td {
  font-size: 13px;
  min-width: 223px;
  max-width: 223px;
}

.smallColumn {
  min-width: 50px;
  max-width: 50px;
  border-right: 1px solid var(--med-table-border);
}

.icons {
  font-size: 20px;
  margin-top: 2px;
  color: var(--med-text-button-text);
  cursor: pointer;
}

.icons:hover {
  color: var(--med-text-button-text-hover);
}

/* Column addition/removal button styling */
.bx-plusMinus {
  color: var(--med-text-button-text);
  cursor: pointer;
  margin-right: 5px;
  margin: 15px 0;
  font-size: 40px;
}

.bx-plusMinus:hover {
  color: var(--med-text-button-text-hover);
  cursor: pointer;
}
