/* change colors to variables */
.med_table {
  display: block;
  overflow: auto;
  border-spacing: 0;
  width: 98%;
  height: 441px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.tableHeader {
  display: block;
  position: sticky;
  top: 0;
  border: 0px;
  overflow-x: visible;
  color: var(--white-text);
}

.tableBody {
  display: block;
  overflow: visible;
}

.tableHeader tr {
  background-color: var(--blue-main);
}

.tableBody tr:nth-child(even) {
  background-color: #bac4c9;
}

.tableBody tr:nth-child(odd) {
  background-color: #d6d6d7;
}

.med_th,
.med_td {
  text-align: center;
  min-width: 200px;
  max-width: 200px;
}

.med_th {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.med_td {
  font-size: 13px;
}

.smallColumn {
  min-width: 50px;
  max-width: 50px;
  border-right: 1px solid var(--blue-alt);
}

.icons {
  font-size: 20px;
  margin-top: 2px;
  color: var(--blue-alt);
  cursor: pointer;
}

.icons:hover {
  color: var(--blue-light);
}
