/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */

.med-search-container {
  display: inline;
  position: relative;
}

.med-search-text-input {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 180px);
  font-size: 16px;
  padding: 0 7px;
  height: 31px;
}

.med-search-close-icon {
  position: absolute;
  font-size: 30px;
  padding-top: 20px;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}
