name: Frontend tests and style checks

on:
  pull_request:
    paths: 
      - "medctrl-frontend/**"

env:
  NODE_VERSION: "16.x"

defaults:
  run:
    working-directory: "medctrl-frontend"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: "npm"
          # cache-dependency-path: "**/package-lock.json"

      - name: Install dependencies
        run: |
          npm install
          npm install prettier
          npm install eslint

      - name: Run prettier
        run: |
          npx prettier --check ./

      - name: Run ESLint
        run: |
          npx eslint ./

      - name: Run tests
        run: |
          npm run ci-test
