/* This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences) */
@keyframes inverted-blink {
  50% {
    background-color: var(--text-primary);
    color: var(--core-body);
  }
}

.med-saved-selection-container .med-table-header,
.med-saved-selection-container .med-table-body,
.med-saved-selection-container .med-table {
  display: revert;
  width: 98%;
}

.med-animated-icon {
  animation-name: inverted-blink;
  animation-duration: 0.5s;
  border-radius: 10%;
}

.med-saved-selection-container .med-table-icons {
  font-size: 1.5em;
}
